* {
  padding: 0px;
  margin: 0px;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(30, 30, 30);
  max-width: 100vw;
  overflow-x: hidden;
}

.top-section {
  background: url(img/bg1.jpg) no-repeat center center/cover;
  height: 100vh;
  margin-bottom: 50px;
}
#navbar {
  position: sticky;
  top: 10px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
}
/* #navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(202, 175, 140);
} */
#navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  /* margin-left: 30px; */
}
#navbar ul li {
  font-size: 1.1rem;
  list-style: none;
}
#navbar ul li a {
  font-family: "Baloo 2", cursive;
  color: black;
  background-color: #f4e19e;
  border: 1px solid #d18c46;
  text-decoration: none;
  padding: 0px 10px;
  border-radius: 12px;
}
#navbar ul li a:hover {
  color: black;
  background-color: rgb(220, 132, 61);
  transition: all 0.3s ease;
}
#logo img {
  margin: 10px 10px;
  width: 60px;
  height: 60px;
  border-radius: 42px;
  padding-right: 30px;
}

#home {
  font-family: "Silkscreen", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: azure;
  margin: 190px 0px;
  align-items: center;
  height: 390px;
  width: 100%;
}
/* s */
.home-con {
  width: 80%;
}
#watch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.box {
  display: flex;
  height: 350px;
  flex-direction: column;
  padding: 10px 10px;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
}
.box a {
  font-family: "Abel", sans-serif;
  color: antiquewhite;
  margin-top: 10px;
  text-decoration: none;
}
.box:hover {
  transform: scale(1.08);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

/* #box-1  {
  background: url(img/op.jpeg)no-repeat center center/cover;
  opacity: .6;
} */
#box-1::before {
  content: "";
  position: relative;
  background: url(img/op.jpeg) no-repeat center center/cover;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
#box-2::before {
  content: "";
  position: relative;
  background: url(img/n.jpeg) no-repeat center center/cover;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
#box-3::before {
  content: "";
  position: relative;
  background: url(img/fmab.jpeg) no-repeat center center/cover;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
#box-4::before {
  content: "";
  position: relative;
  background: url(img/aot.webp) no-repeat center center/cover;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
#box-5::before {
  content: "";
  position: relative;
  background: url(img/bl.webp) no-repeat center center/cover;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
#watch h2 {
  text-align: center;
  font-family: "Rubik Distressed", cursive;
  color: #66a9cf;
  /* text-shadow: 2px 2px white; */
  font-size: 2.5rem;
  padding: 15px 10px;
}

@media screen and (max-width: 620px) {
  .top-section {
    height: 80vh;
  }
  #navbar {
    justify-content: center;
  }

  #home {
    margin-top: 50px;
  }

  #home ::before {
    height: 90%;
  }
}

@media screen and (max-width: 400px) {
  .top-section {
    height: 90vh;
  }

  #home {
    margin-top: 50px;
  }
}
